@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="@Sitecore.Context.Language.CultureInfo.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Modern Business - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/css/modern-business.css" rel="stylesheet">
    @Html.Sitecore().VisitorIdentification()
</head>
<body>
    @Html.Sitecore().Placeholder("top")

    <!-- Page Content -->
    <div class="container">
        @Html.Sitecore().Placeholder("content")
    </div>
    <!-- /.container -->

    @Html.Sitecore().Placeholder("bottom")

    <!-- Bootstrap core JavaScript -->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    @Html.Sitecore().Placeholder("bottomscripts")
</body>
</html>
