@{
    Layout = null;
}

@model Project.Website.Components.Accordion.AccordionModel

<!-- Accordion -->
<div class="mb-4" id="accordion" role="tablist" aria-multiselectable="true">
    @{
        int i = 0;
        foreach (var accordionItem in Model.AccordionItems)
        {
            string literal = Model.numericLiterals[i];
            string hashCollapse = "#collapse" + literal;
            string controls = "collapse" + literal;
            string id = controls;
            string heading = "heading" + literal;

            string collapsed = "";
            string expanded = "true";
            string show = "show";
            if (accordionItem.Collapsed)
            {
                collapsed = "collapsed";
                expanded = "false";
                show = "";
            }

            <div class="card">
                <div class="card-header" role="tab" id="@heading">
                    <h5 class="mb-0">
                        <a class="@collapsed" data-toggle="collapse" data-parent="#accordion" href="@hashCollapse" aria-expanded="@expanded" aria-controls="@controls">@accordionItem.Title</a>
                    </h5>
                </div>
                <div id="@id" class="collapse @show" role="tabpanel" aria-labelledby="@heading">
                    <div class="card-body">
                        @accordionItem.Text
                    </div>
                </div>
            </div>

            i++;
        }
    }
</div>
