@{
    Layout = null;
}

@model Project.Website.Components.Jumbotron.JumbotronModel

<!-- Jumbotron -->
<div class="jumbotron">
    <h1 class="display-1">@Model.Title</h1>
    @Model.Text
    <ul>
        @foreach (var navItem in Model.NavigationItems)
        {
            if (navItem.Children.Length == 0)
            {
                <li>
                    <a href="@navItem.Url">@navItem.Title</a>
                </li>
            }
            else
            {
                <li>
                    @navItem.Title
                    <ul>
                        @foreach (var subNavItem in navItem.Children)
                        {
                            <li>
                                <a href="@subNavItem.Url">@subNavItem.Title</a>
                            </li>
                        }
                    </ul>
                </li>
            }
        }
    </ul>
</div>
<!-- /.jumbotron -->
