@{
    Layout = null;
}

@model Project.Website.Components.Portfolio.PortfolioListingModel

<!-- Portfolio Section -->
<div class="row">
    @foreach (var portfolioItem in Model.PortfolioListingItemModels)
    {
        <div class="@Model.ItemClass">
            <div class="card h-100">
                <a href="@portfolioItem.PortfolioItemUrl"><img class="card-img-top" src="@portfolioItem.ImageUrl" alt="@portfolioItem.ImageAlt"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="@portfolioItem.PortfolioItemUrl">@portfolioItem.Title</a>
                    </h4>
                    <p class="card-text">@portfolioItem.ShortDescription</p>
                </div>
            </div>
        </div>
    }
</div>
<!-- /.row -->
