@{
    Layout = null;
}

@model Project.Website.Components.PriceOptions.PriceOptionsModel

<!-- Price Options -->
<div class="row">
    @foreach (var priceOption in Model.PriceOptions)
    {
        string primary = string.Empty;
        if (priceOption.IsPrimary)
        {
            primary = "card-outline-primary";
        }

        <div class="col-lg-4 mb-4">
            <div class="card @primary h-100">
                <h3 class="card-header">@priceOption.Heading</h3>
                <div class="card-body">
                    <div class="display-4">@priceOption.Price</div>
                    <div class="font-italic">@priceOption.Byline</div>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">@priceOption.Bullet1</li>
                    <li class="list-group-item">@priceOption.Bullet2</li>
                    <li class="list-group-item">@priceOption.Bullet3</li>
                    <li class="list-group-item">
                        <a href="@priceOption.SignUpUrl" class="btn btn-primary">@priceOption.SignUpText</a>
                    </li>
                </ul>
            </div>
        </div>
    }
</div>
<!-- /.row -->
