@{
    Layout = null;
}

@model Project.Website.Components.TeamMembers.TeamMembersModel

<!-- Team Members -->
<div class="row">
    @foreach (var teamMember in Model.TeamMembers)
    {
        <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center">
                <img class="card-img-top" src="@teamMember.ImageUrl" alt="@teamMember.ImageAlt">
                <div class="card-body">
                    <h4 class="card-title">@teamMember.Name</h4>
                    <h6 class="card-subtitle mb-2 text-muted">@teamMember.Position</h6>
                    <p class="card-text">@teamMember.Description</p>
                </div>
                <div class="card-footer">
                    <a href="mailto:@teamMember.Email">@teamMember.Email</a>
                </div>
            </div>
        </div>
    }
</div>
<!-- /.row -->
