@{
    Layout = null;
}

@model Project.Website.Components.TopNavigation.TopNavigationModel

<!-- Navigation -->
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="@Model.BrandLinkUrl">@Model.BrandLinkText</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                @foreach (var navItem in Model.TopNavigationLinks)
                {
                    string active = string.Empty;
                    if (navItem.IsActive)
                    {
                        active = "active";
                    }

                    string dropdown = string.Empty;
                    if (navItem.Children.Length > 0)
                    {
                        dropdown = "dropdown";
                    }

                    <li class="nav-item @active @dropdown">
                        @if (navItem.Children.Length == 0)
                        {
                            <a class="nav-link" href="@navItem.Url">@navItem.Title</a>
                        }
                        else
                        {
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @navItem.Title
                            </a>
                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                                @foreach (var subNavItem in navItem.Children)
                                {
                                    <a class="dropdown-item" href="@subNavItem.Url">@subNavItem.Title</a>
                                }
                            </div>
                        }
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
